nameOverride: ""
fullnameOverride: ""

mesh:
  enabled: false
  annotations:
    sidecar.istio.io/inject: "true"

frontend:
  replicaCount: 2
  image:
    repository: nginxdemos/hello
    tag: "latest"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 128Mi
  podAnnotations: {}

api:
  replicaCount: 2
  image:
    repository: hashicorp/http-echo
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5678
  args:
    - "-text=hello from api"
    - "-listen=:5678"
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 128Mi
  podAnnotations: {}
