# Commenting out until 04 is built out 

name: eks-observability-ci

on:
  workflow_dispatch:
  # pull_request:
  #   paths:
  #     - 'projects/02-eks-observability-stack/**'
  #     - '.github/workflows/eks-observability-ci.yml'
  # push:
  #   branches: [ main ]
  #   paths:
  #     - 'projects/02-eks-observability-stack/**'
  #     - '.github/workflows/eks-observability-ci.yml'

jobs:
  noop: 
    if: false # delete this after project is built out, this disables everything below
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Lint YAML
        run: |
          sudo apt-get update && sudo apt-get install -y yamllint
          yamllint -d "{extends: default, rules: {line-length: {max: 140}}}" projects/02-eks-observability-stack

      - name: Helm lint sample app chart
        run: helm lint projects/02-eks-observability-stack/charts/sample-app

      - name: Terraform validate (if Terraform is used)
        working-directory: projects/02-eks-observability-stack/infra/terraform
        run: |
          terraform fmt -check
          terraform validate
