name: terraform-ci-project-01

on:
  pull_request:
    paths:
      - "projects/01-ecs-fargate-ci-cd-pipeline-webapp/infra/terraform/**"
      - ".github/workflows/reusable-terraform-ci.yml"
  push:
    branches:
      - main
    paths:
      - "projects/01-ecs-fargate-ci-cd-pipeline-webapp/infra/terraform/**"
      - ".github/workflows/reusable-terraform-ci.yml"

jobs:
  ci:
    uses: ./.github/workflows/reusable-terraform-ci.yml
    with:
      working-directory: ./projects/01-ecs-fargate-ci-cd-pipeline-webapp/infra/terraform

# This triggers the infrastructure checks for Project 01 on every Pull Request.