name: terraform-ci-project-01

on:
  pull_request:
    paths:
      - "projects/01-ecs-fargate-ci-cd-pipeline-webapp/infra/terraform/**"
  push:
    branches:
      - main
    paths:
      - "projects/01-ecs-fargate-ci-cd-pipeline-webapp/infra/terraform/**"

jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./projects/01-ecs-fargate-ci-cd-pipeline-webapp/infra/terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: TODO - tflint
        run: echo "tflint will run here in a future iteration"

      - name: TODO - security scan
        run: echo "tfsec/checkov will run here later"
